html, body {
  margin: 0;
  font-family: "typewriter";
  background-color: white;
}
canvas {
  display: block;
}

@font-face {
  font-family: typewriter;
  src: url("JMH Typewriter dry.otf");
}

@font-face {
  font-family: love;
  src: url("A Love of Thunder.ttf");
}


@font-face {
  font-family: heyoctober;
  src: url("HeyOctober.ttf");
}

nav { margin: 0 0 15px;}

.navbar-brand { 
  font-family: "heyoctober" !important; 
  font-size: xx-large;
}

.navbar-dark .navbar-nav .nav-link {
  font-family: 'typewriter' !important;
}
.dropdown-item {
  font-family: 'typewriter' !important;
}


h2 {
  color: rgb(226, 92, 146);
}

.action {
  width: 80%;
  background-color: rgba(241,227,0,.8);
  border-radius: 20% 40%  / 20% 20%;
  padding: 20px;
  margin:  10px;
  font-size: 12px;
  min-width: 250px;
}

.moitie-1 {
  width: 50%;
}

.moitie-2 {
  width: 30%;
}

.action.off {
  background-color: rgba(241,227,0,0.5);
  color: rgb(150,150,150);
  pointer-events: none;
  opacity: 0.6;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/***********************************/
/* MODAL */
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password], input[type] {
/* width: 100%; */
  padding: 5px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-family: "typewriter"; 
  font-size: 16px;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus, input[type]:focus {
  background-color: #ddd;
  outline: none;
}

input[type=number] {
  width: 40px;
}

textarea {
  width: 100%;
  height: 50px;
  font-family: "typewriter";
  padding: 5px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-size: 10px;
  color: black;
}

.ts-wrapper .optgroup_header  { 
    font-family: "typewriter";
  color: #E91E63;
    font-size: 6px;
}

.ts-wrapper  { 
  width: 300px;
  padding: 5px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-family: "typewriter"; 
  font-size: 16px;
}

.ts-dropdown {
    background: #f1f1f1;
}

.ts-control {
  background: #f1f1f1;
    border: none;

}

.action input[type] {
    font-size: 10px;
}

.action input[type=text] {
    font-size: 14px;
}

.action.off input[type], .action.off textarea {
  color: rgb(0,0,0, 0.4);


}

.boutons {
  width: 1700px;
  height: 100px;
  display: flex;  
  justify-content: center;  
  align-items: center;  
}

/* Set a style for all buttons */
button.actionButton {
  background-color: rgb(164,186,0); 
  opacity: 1;
  border-radius: 10px;
  color: white;
  padding: 14px 20px;
  margin: 8px 50px;
  border: none;
  cursor: pointer;
  width: 350px;
    font-family: "typewriter";
  font-size:20px;
  text-shadow:
  0.05em 0 grey,
  0 0.05em grey,
  -0.05em 0 grey,
  0 -0.05em grey,
  -0.05em -0.05em grey,
  -0.05em 0.05em grey,
  0.05em -0.05em grey,
  0.05em 0.05em grey;
  height:80px;
}

button:hover {
  opacity:1;
  border: 2px solid black;
}

/*xtra styles for the cancel button */
.cancelbtn {
  background-color: rgb(240,142,108);
}
.signupbtn {
  background-color: rgb(164,186,0); 
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
  border-radius: 10px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-family: "typewriter";
  font-size:20px;
  height:80px;
}

/* Add padding to container elements */
.container {
  padding: 16px;



}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(23,41,131,0.8);
  opacity: 1;
  padding-top: 50px;
    font-family: "typewriter"; 

}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;

  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 1200px;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
